.logo {
    height: 75px;
    width: 75px;
    background-color: darkgray;
    border-radius: 50%;
    background-image: url('https://www.google.com/imgres?q=logo%20revou&imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F5%2F53%2FLogo_revou.png&imgrefurl=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3ALogo_revou.png&docid=becVY_7h85F09M&tbnid=8F2fi8BNB4mpEM&vet=12ahUKEwiCwd_xhd-QAxX-SmwGHcpbO3QQM3oECB0QAA..i&w=480&h=480&hcb=2&ved=2ahUKEwiCwd_xhd-QAxX-SmwGHcpbO3QQM3oECB0QAA');
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}